@dark : #222336;
@green : #05e4bc;

header.main-container{
  background-color: @dark;

  nav{

    .navbar-collapse{

      form{

        button{
          color: @green;
          border-color: @green;
        }
        button:hover{
          color: white;
          background-color: @green;
        }
      }
    }
  }
  a{
    color: @green;
  }

  // a:hover{
  //   background-color: @green;
  //   color: @dark;
  // }
}
