<ul class="list-group">
  <li *ngFor="let perfil of perfis"
    (click)="filtarPerfil(perfil.id)"
    class="list-group-item">
    {{perfil.nome}}
  </li>
</ul>

<button *ngFor="let categoria of categorias"
        (click)="filtarCategoria(categoria.chave)"
        class="btn btn-primary" >
  {{categoria.valor}}
</button>

<ul class="list-group list-group-flush">
  <li *ngFor="let permissao of permissoesActive"
      class="list-group-item">
      ID: {{permissao.id}}
      PERFIL: {{permissao.usuarioPerfilDTO.id}}
      DESC: {{permissao.usuarioPerfilPermissaoTipoDTO.descricao}}
      ATIVO: {{permissao.ativo}}
  </li>
</ul>
