<section>

    <div class="list-group lista-perfis">
      <a class="list-group-item list-group-item-action"
        *ngFor="let perfil of perfis"
        (click)="filtarPerfil(perfil.id)"
        [class.active]="perfil.id === perfilActive.id">
          {{perfil.nome}}
      </a>
    </div>

    <div class="conteudo">

      <ul ngbNav #nav="ngbNav" class="nav nav-tabs nav-pills nav-fill">
        <li ngbNavItem *ngFor="let categoria of categorias">
          <a ngbNavLink class="nav-link">
              {{categoria.valor}}
          </a>
          <ng-template ngbNavContent>
            <ul class="list-group list-group-flush">
              <li *ngFor="let permissao of getPermissoesCategoria(categoria)"
                  class="list-group-item">
                  <span class="descricao">
                    {{permissao.usuarioPerfilPermissaoTipoDTO.descricao}}
                  </span>
                  <span class="toggle-ativado">
                    {{permissao.ativo}}
                  </span>
              </li>
            </ul>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

    </div>

</section>

