<section>

  <h1>Lista de Usuários</h1>

  <app-usuario-filtro>

  </app-usuario-filtro>

  <button class="btn btn-principal novo-usuario"
    routerLink="/usuario-criacao">
    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    Novo Usuario
  </button>


  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Perfil</th>
        <th>Data Criação</th>
        <th>Data Ultima Modificação</th>
        <th>Status</th>
        <th class="acoes">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuariosDTO">
        <th>{{usuario.id}}</th>
        <td>{{usuario.nome}}</td>
        <td>{{usuario.perfilDTO.nome}}</td>
        <td>{{usuario.dataCriacao | date:'dd/MM/yyyy hh:mm'}}</td>
        <td>{{usuario.dataUltimaModificacao | date:'dd/MM/yyyy hh:mm'}}</td>
        <td>{{usuario.ativo ? "Sim" : "Não"}}</td>
        <td class="acoes">
          <div class="btn-group" role="group">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-secondary" routerLink="/usuario-edicao/{{usuario.id}}">
                  <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                </button>
                <button type="button" class="btn btn-secondary">
                  <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
