<section class="chamado-detalhe">

  <div class="chamado-header" *ngIf="chamado.id">

    <div class="info">

      <p class="header-content fila-atual"
        [ngStyle]="{'background-color': chamado.filaDTO.colorStyle}">
        {{chamado.filaDTO.nome}}
      </p>

      <p class="header-content sla">
        aberto à:
        <b>{{chamado.sla}}</b>
      </p>

      <div class="header-content usuario-criacao">

        <div class="empresa">
          <span class="label">Pelo cliente: </span>
          <img src="assets/img/empresa/{{chamado.clienteDTO.imagem}}"/>
        </div>

        <div class="usuario">
          <span class="label">Pelo usuario: </span>
          <fa-icon [icon]="['fas', 'user']"></fa-icon>
          <span class="nome-usuario">
            {{chamado.usuarioCriacaoDTO.nome}}
          </span>
        </div>

      </div>

      <div class="header-content checklist" *ngIf="getChecklistGeralCount()">
        <span>Checklist</span>
        <span class="checklist-status">{{getChecklistConcluidoCount()}}/{{getChecklistGeralCount()}}</span>

      </div>

    </div>

    <div class="opcoes">

      <div ngbDropdown class="d-inline-block drop-inline opcao">
        <button class="btn btn-secundario dropdown-toggle label-button" id="dropdownBasic1" ngbDropdownToggle>Alterar Status</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>
            Em Andamento
          </button>
          <button ngbDropdownItem>
            Finalizados
          </button>
        </div>
      </div>

      <button class="btn btn-principal opcao" routerLink="/chamado-cadastro/">
        Novo Chamado
      </button>

    </div>

  </div>

  <div class="chamado-principal">

    <div class="chamado-title"
        *ngIf="chamado">

        <h2>#{{chamado.id}} - {{chamado.titulo | uppercase}}</h2>
    </div>

    <div class="opcoes">

      <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-light" (click)="fecharChamado()">
          <fa-icon [icon]="['fas', 'edit']"></fa-icon>
        </button>
        <button class="btn btn-light" (click)="fecharChamado()">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </button>
      </div>

    </div>

    <div class="chamado-info">

      <label class="detalhes-categoria"
        *ngIf="chamado.subCategoriaDTO && tipoVisualizacao === 'detalhes'">
        {{chamado.subCategoriaDTO.categoriaDTO.descricao}}
      </label>

      <label class="detalhes-categoria"
        *ngIf="chamado.subCategoriaDTO && tipoVisualizacao === 'detalhes'">
        {{chamado.subCategoriaDTO.descricao}}
      </label>

      <label class="edit-categoria"
        *ngIf="chamado.subCategoriaDTO && tipoVisualizacao === 'edicao'">
        categoria:
        <input [(ngModel)]="chamado.subCategoriaDTO.categoriaDTO.descricao" placeholder="categoria"/>
      </label>

      <label class="edit-categoria"
        *ngIf="chamado.subCategoriaDTO && tipoVisualizacao === 'edicao'">sub Categoria:
        <input [(ngModel)]="chamado.subCategoriaDTO.descricao" placeholder="subcategoria"/>
      </label>
    </div>

    <div class="formulario">

      <h3>Dados</h3>

      <div
          class="chamado-detalhe"
          *ngFor="let itemFormularioInput of chamado.formularioInputsDTO">

          <p
            *ngIf="itemFormularioInput.tipo == 'textArea'
            || itemFormularioInput.tipo == 'text'
            && tipoVisualizacao === 'detalhes'">
            {{itemFormularioInput.valor}}
          </p>

          <textarea
            *ngIf="itemFormularioInput.tipo == 'textArea' && tipoVisualizacao === 'edicao'">
            {{itemFormularioInput.valor}}
          </textarea>

          <input
            *ngIf="itemFormularioInput.tipo == 'text' && tipoVisualizacao === 'edicao'"
            [(ngModel)]="itemFormularioInput.valor" placeholder="Formulario"/>

      </div>

    </div>

  </div>

</section>

<button class="btn btn-secondary" (click)="goBack()">go back</button>
