<div class="input-group">

  <label
    *ngIf="options.labelType == inputLabelTypeEnum.DEFAULT">
    {{options.label}}:
  </label>

  <div class="input-group-prepend"
    *ngIf="options.labelType == inputLabelTypeEnum.PREPEND">
    <label class="input-group-text"
      for="inputGroupSelect01">
      {{options.label}}
    </label>
  </div>
  <select
    class="custom-select"
    id="{{options.id}}"
    name="{{options.name}}">
    <option selected>{{options.placeholder}}</option>
    <option *ngFor="let itemContent of options.content"
      value="{{itemContent[options.optionId]}}"
      [selected]="itemContent[options.optionId] == options.selected">
        {{itemContent[options.optionText]}}
      </option>
  </select>
</div>
