@fontTitle : #6a4b9d;
@backOpacity: #c4bad6;

@white_10 : #fff;
@white_9 : #f4f4f4;
@white_8 : #f0f0f0;
@white_0 : #dbdbdb;

@black_10 : black;
@black_9 : #606060;
@black_8: #a3a2a2;

.filtro{
  background-color: @white_8;
  width: 100%;
  border-radius: 6px;
  padding: 10px 15px;
  display: table;
  color: @black_9;

  .item-formulario{
      float: left;
      padding: 0 5px 10px 5px;
      width: 300px;
  }

  .data-param{
    width: 500px;
  }
}
