<form class="filtro">

  <div class="campos">

    <div class="item-formulario">
      <app-input-text
        [options]="inputBusca">
      </app-input-text>
    </div>

    <div class="item-formulario">
      <app-input-select
        [options]="inputPrioridade">
      </app-input-select>
    </div>

    <div class="item-formulario">
      <app-input-select
        [options]="inputFila">
      </app-input-select>
    </div>

    <div class="item-formulario">
      <app-input-select
        [options]="inputEmpresas">
      </app-input-select>
    </div>

    <div class="item-formulario">
      <app-input-select
        [options]="inputUsuarios">
      </app-input-select>
    </div>


    <!-- <div class="item-formulario input-group data-param">

      <app-ngb-date-picker-range
        [tiposDatas]="tiposDatas">
      </app-ngb-date-picker-range>

    </div> -->

  </div>

  <div class="opcoes">
    <div class="btn-group" role="group" aria-label="First group">
      <button type="button" class="btn btn-dark btn-busca">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
        Buscar
      </button>
      <button type="button" class="btn btn-outline-secondary btn-clean">
        <fa-icon [icon]="['fas', 'eraser']"></fa-icon>
        Limpar
      </button>
    </div>
  </div>

</form>
