<form class="filtro">

  <div class="campos">

      <div class="item-formulario">
        <app-input-text
          [options]="inputBusca">
        </app-input-text>
      </div>

      <div class="item-formulario">
        <app-input-select
          [options]="inputAtivo">
        </app-input-select>
      </div>

  </div>


  <div class="opcoes">
    <div class="btn-group" role="group" aria-label="First group">
      <button class="btn btn-dark btn-busca" (click)="buscar()">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
        Buscar
      </button>
      <button type="button" class="btn btn-outline-secondary btn-clean">
        <fa-icon [icon]="['fas', 'eraser']"></fa-icon>
        Limpar
      </button>
    </div>
  </div>

</form>
