<section>

  <h1>Lista de Chamados</h1>

  <form class="filtro">

    <div class="item-formulario">
      <label>Busca</label>
      <input type="text" class="form-control" name="busca"/>
    </div>

  </form>

  <div class="filas-header">

    <span>{{chamados.length}} Chamados</span>

    <button
      class="btn btn-default"
      (click)="changeGridType()">
      <fa-icon [icon]="['fas', gridType]"></fa-icon>
    </button>

  </div>

  <div class="grid">

    <app-fila-grid
      *ngIf="gridType === 'grip-lines-vertical'">
    </app-fila-grid>

    <app-chamados-list
      *ngIf="gridType === 'list'"
      [listaChamados]="chamados">
    </app-chamados-list>

  </div>

</section>
