<section>

  <h1>Lista de Chamados</h1>

  <app-chamados-filtro></app-chamados-filtro>

  <div class="filas-header">

    <span>{{chamados.length}} Chamados</span>

    <button
      class="btn btn-default"
      >
      <fa-icon [icon]="['fas', getOtherGridType()]"></fa-icon>
    </button>

  </div>

  <div class="grid">

    <app-fila-grid
      *ngIf="showGridType('grip-lines-vertical')">
    </app-fila-grid>

    <app-chamados-list
      *ngIf="showGridType('list')"
      [listaChamados]="chamados">
    </app-chamados-list>

  </div>

</section>
