<h1>Lista de Chamados</h1>
<form class="filtro">
  <div class="item-formulario">
    <label>Busca</label>
    <input type="text" class="form-control" name="busca"/>

  </div>
</form>

<div class="filas">

  <div class="fila" *ngFor="let itemFila of filasDTO">

    <div class="cabecalho">

      <span class="btn-collapse"
        (click)="collapse()">
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </span>

      <span class="nome-fila">{{itemFila.nome}}</span>

      <span class="qtde-lista">{{itemFila.quantidade}}</span>

      <span class="btn-add-chamado"
        routerLink="/chamado-detalhe/{{itemFila.id}}">
        <i class="far fa-plus-square"></i>
      </span>

    </div>

    <div class="lista">

      <div class="chamado" *ngFor="let itemChamado of itemFila.chamadosDTO">

        <div class="cliente">

          <span class="nome-cliente">
            {{itemChamado.clienteDTO.nome}}
          </span>

        </div>

        <div class="descricao">

          <span class="titulo-chamado">
            <a routerLink="/chamado-detalhe/{{itemChamado.id}}">
              <span class="badge">{{itemChamado.id}}</span> {{itemChamado.titulo}}
            </a>
          </span>

          <span class="codigo-chamado">
            #{{itemChamado.id}}
          </span>

          <span class="sla">
            {{itemChamado.sla}}
          </span>

          <div class="usuario-responsavel">
            {{itemChamado.usuarioResponsavelDTO.email}}
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
