<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cliente</th>
      <th scope="col">Descriçãoo</th>
      <th scope="col">Status</th>
      <th scope="col">Usuario Responsável</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let chamado of chamados">
      <th scope="row">{{chamado.id}}</th>
      <td>{{chamado.clienteDTO.nome}}</td>
      <td>{{chamado.titulo}}</td>
      <td>{{chamado.filaDTO.nome}}</td>
      <td>{{chamado.usuariosResponsaveisDTO[0].nome}}</td>
    </tr>
  </tbody>
</table>
